@use '@carbon/react';
@use '@carbon/layout';

html, body {
  width: 100%;
}

body {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  flex: 1;
  display: flex;

  > div {
    flex: 1;
    display: flex;
  }
}

main {
  height: 100%;
  width: 100%;
}

.login-form {
  width: 40ch;
}

.debug {
  background-color: rgba(184, 155, 181, 0.1);
}

.h-box {
  display: flex;
  justify-content: center;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.mt {
  margin-top: 1rem;
}

.cds--link {
  cursor: pointer;
}